@model Tresorit.Models.Product

@{
    ViewData["Title"] = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>New</h1>

<h4>Product</h4>
<hr />
@using (Html.BeginForm("Save", "Home", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return Verify()" }))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="New">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Product Name</label>
                    @Html.TextBoxFor(m => m.PartitionKey, new { @id="ProductNameText", @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(m => m.ImgPath)
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ImgPath, "", new { type = "file" })
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    function Verify() {
        var textboxLength = $("#ProductNameText").val().length;

        if (textboxLength == "0") {
            alert("Please give a Product Name!")
            return false;
        }
        else {
            return true;
        }
    }
</script>